# Aula 02- Resolução dos Exercícios

## Novas perguntas do CEO

1. Crie uma nova coluna chamada: “house_age”
    - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

2. Crie uma nova coluna chamada: “dormitory_type”
    - Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    - Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    - Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

3. Crie uma nova coluna chamada: “condition_type”
    - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    - Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    - Se o valor da coluna “condition” for igual à 5 => ‘good’


4. Modifique o TIPO a Coluna “condition” para STRING


5. Delete as colunas: “sqft_living15” e “sqft_lot15”


6. Modifique o TIPO a Coluna “yr_build” para DATE


7. Modifique o TIPO a Coluna “yr_renovated” para DATE


8. Qual a data mais antiga de construção de um imóvel?


9. Qual a data mais antiga de renovação de um imóvel?


10. Quantos imóveis tem 2 andares?


11. Quantos imóveis estão com a condição igual a “regular” ?


12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?


13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?


14. Qual o valor do imóvel mais caro do tipo “studio” ?


15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?


16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?


17. Quantos imóveis “new_house” foram reformados no ano de 2014?


18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    - Direto pelo nome das colunas.
    - Pelos Índices.
    - Pelos Índices das linhas e o nome das colunas
    - Índices Booleanos		
    
    
19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.


20. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

# Resolução

## Import Libraries

In [141]:
import numpy  as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
import plotly.express as px

In [142]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## Loading Data

In [143]:
# loading data into memory
data = pd.read_csv( "datasets/kc_house_data.csv" )

data.dtypes

# Garantir que o formato date é um datetime 
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

In [144]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 1. Crie uma nova coluna chamada: “house_age”
    - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [145]:
# Estrategia
# 1. Criar uma coluna nova, preenchida com NA
# 2. Substituir o valor NA, conforme a condicional

data['house_age'] = 'NA'
data.loc[ data['date'] > '2014-01-01', 'house_age' ] = 'new_house' 
data.loc[ data['date'] < '2014-01-01', 'house_age'] = 'old_house'

# com o apply
# data['house_age'] = data['date'].apply( lambda x: 'new_house' if x > pd.to_datetime('2014-01-01', format='%Y%m%d') else 'old_house' )

In [146]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
house_age                object
dtype: object

In [147]:
data.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
8043,4027701265,2015-05-01,480000.00,3,1.75,2920,21375,1.00,0,0,...,1850,1070,1961,0,98028,47.77,-122.27,1540,8482,new_house
6968,7885100005,2014-08-20,299000.00,4,2.00,2320,12000,1.00,0,0,...,1720,600,1943,2014,98108,47.52,-122.33,1390,6000,new_house
17583,1920079039,2014-08-15,269500.00,2,1.00,1140,74052,1.00,0,0,...,1140,0,1968,0,98022,47.21,-121.96,1730,43560,new_house
8739,4010800110,2014-06-09,305100.00,3,2.00,1590,35988,1.00,0,0,...,1590,0,1974,0,98058,47.44,-122.11,2780,23789,new_house
11470,8682292190,2014-12-15,850000.00,2,2.75,2700,9854,1.00,0,0,...,2700,0,2012,0,98053,47.72,-122.02,1440,4168,new_house
14512,6933600540,2014-08-20,508000.00,2,1.00,820,5040,1.00,0,0,...,820,0,1953,0,98199,47.65,-122.39,1730,5760,new_house
15688,98020630,2015-04-14,889000.00,4,3.50,4070,10976,2.00,0,0,...,4070,0,2004,0,98075,47.58,-121.97,4080,10106,new_house
18090,6163901380,2014-11-14,244000.00,2,1.00,960,8450,1.00,0,0,...,960,0,1950,0,98155,47.76,-122.32,1090,8450,new_house
18615,9530100921,2014-10-27,483000.00,4,1.50,1220,3780,1.50,0,0,...,1220,0,1927,0,98107,47.67,-122.36,1400,3185,new_house
21511,3304030220,2015-04-21,480000.00,4,2.50,2940,9172,2.00,0,0,...,2940,0,2006,0,98001,47.34,-122.27,2660,7955,new_house

## 2. Crie uma nova coluna chamada: “dormitory_type”
    - Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    - Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    - Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [148]:
# Estrategia 1:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Atribuir os nomes das strings 'studio', 'apartment' ou 'house' na coluna 'dormitory_type' para os dados filtrados por número de 'bedrooms'

# data['dormitory_type'] = 'NA'
# data.loc[ data['bedrooms'] == 1, 'dormitory_type' ] = 'studio'
# data.loc[ data['bedrooms'] == 2, 'dormitory_type' ] = 'apartment'
# data.loc[ data['bedrooms'] > 2, 'dormitory_type' ] = 'house'

# data[['bedrooms','dormitory_type']]

data['dormitory_type'] = data['bedrooms'].apply( lambda x: 'studio' if x == 1 else
                                                           'apartment' if x == 2 else 
                                                           'house' if x > 2 else 'NA')

In [149]:
data['bedrooms'].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33], dtype=int64)

In [150]:
data['dormitory_type'].unique()

array(['house', 'apartment', 'studio', 'NA'], dtype=object)

In [151]:
# # Estrategia 2:
# # 1. Criar uma coluna nova, preenchida com NA
# # 2. Percorrer todas as linhas do conjunto de dados. Para cada linha, comparar a coluna "bedrooms"
# # 3. De acordo com a comparação, substituir o NA pelo dado valor

# # Usando o loop for

# data = pd.read_csv( "datasets/kc_house_data.csv" )

# data['dormitory_type'] = 'NA'

# # percorrendo todas as linhas do dataset
# for i in range( len( data ) ):
#     if data.loc[i, 'bedrooms'] == 1:
#         data.loc[i, 'dormitory_type'] = 'studio'
    
#     elif data.loc[i, 'bedrooms'] == 2:
#         data.loc[i, 'dormitory_type'] = 'apartment'
    
#     elif data.loc[i, 'bedrooms'] > 2:
#          data.loc[i, 'dormitory_type'] = 'house'

In [152]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,0,1955,0,98178,47.51,-122.26,1340,5650,new_house,house
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,400,1951,1991,98125,47.72,-122.32,1690,7639,new_house,house
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,0,1933,0,98028,47.74,-122.23,2720,8062,new_house,apartment
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,910,1965,0,98136,47.52,-122.39,1360,5000,new_house,house
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,0,1987,0,98074,47.62,-122.05,1800,7503,new_house,house

## 3. Crie uma nova coluna chamada: “condition_type”
    - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    - Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    - Se o valor da coluna “condition” for igual à 5 => ‘good’

In [153]:
# Estrategia 1:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Atribuir os nomes das strings 'bad', 'regular' ou 'good' na coluna 'condition_type' para os dados filtrados por 'condition'

# data['condition_type'] = 'NA'

# data.loc[ data['condition'] <= 2, 'condition_type'] = 'bad'
# data.loc[ (data['condition'] == 3) | (data['condition'] == 4), 'condition_type'] = 'regular'
# data.loc[ data['condition'] == 5, 'condition_type'] = 'good'

# data[['condition','condition_type']]

# ATENÇÃO: não podemos comparar int com string
data['condition'] = data['condition'].astype( 'int64' )
data['condition_type'] = data['condition'].apply( lambda x: 'bad' if x <= 2 else 'regular' if (x == 3) | (x == 4) else 'good' )

In [154]:
data['condition'].unique()

array([3, 5, 4, 1, 2], dtype=int64)

In [155]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                  int64
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
sqft_living15              int64
sqft_lot15                 int64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

## 4. Modifique o TIPO da Coluna “condition” para STRING

In [156]:
data[['id', 'condition']].dtypes

id           int64
condition    int64
dtype: object

In [157]:
data['condition'] = data['condition'].astype( str )

In [158]:
data[['id', 'condition']].dtypes

id            int64
condition    object
dtype: object

## 5. Delete as colunas: “sqft_living15” e “sqft_lot15”

In [159]:
# deletar as colunas e atribui novamente ao data
data = data.drop( ['sqft_living15', 'sqft_lot15'], axis=1 )

## 6. Modifique o TIPO da Coluna “yr_build” para DATE

In [160]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )

In [161]:
data['yr_built']

0       1955-01-01
1       1951-01-01
2       1933-01-01
3       1965-01-01
4       1987-01-01
           ...
21608   2009-01-01
21609   2014-01-01
21610   2009-01-01
21611   2004-01-01
21612   2008-01-01
Name: yr_built, Length: 21613, dtype: datetime64[ns]

In [162]:
# se extrraímos o ano da data, ela volta a ser formato int
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' ).dt.year

In [163]:
data['yr_built'].dtypes

dtype('int64')

In [164]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )

In [165]:
data['yr_built'].dtypes

dtype('<M8[ns]')

In [166]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

## 7. Modifique o TIPO a Coluna “yr_renovated” para DATE

In [167]:
# Opção 1: não
# data['yr_renovated'] = pd.to_datetime( data['yr_renovated'], format='%Y')
# esse comando acima dá o erro: time data '0' does not match format '%Y' (match)
# ele não consegue encontrar o dia pro ano 0

# Opção 2: não
# data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime( x,format='%Y') if x > 0 else x )
# dessa forma, haverá 2 tipos de dados na coluna 'yr_renovated' e então essa coluna acaba sendo tratada como object

# Opção 3: setar os valores 0 como um ano 'default', que é o 1970 (mas a data mais antiga do dataset é 1900)
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: '1900-01-01' if x == 0 else pd.to_datetime( x, format='%Y' ) )

C:\Users\Luana\AppData\Local\Temp/ipykernel_17800/1517841178.py:11: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  data['yr_renovated'] = data['yr_renovated'].apply( lambda x: '1900-01-01' if x == 0 else pd.to_datetime( x, format='%Y' ) )

In [168]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated      datetime64[ns]
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

## 8. Qual a data mais antiga de construção de um imóvel?

In [169]:
# Estratégia:
# 1. Verificar o valor mínimo da coluna 'yr_built'

min_date = data['yr_built'].min().year

print( 'A data mais antiga de construção de um ímóvel é {}'.format( min_date ) )

A data mais antiga de construção de um ímóvel é 1900

## 9. Qual a data mais antiga de renovação de um imóvel?

In [170]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated      datetime64[ns]
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

In [171]:
# Estrategia
# 1. Filtrar todas as linhas diferentes de zero ( imóveis que nao foram reformados ) da coluna 'yr_renovated'
# 2. Encontrar a data mínima

# Obs: 'yr_renovated' esta como object, tem que transforma em datetime para trabalhar com data
# ATENÇÃO: transformamos 'yr_renovated' iguais a 0 em uma data default de '1900-01-01'

# data.loc[ data['yr_renovated'] > 0,'yr_renovated' ]
df = data[data['yr_renovated'] != '1900-01-01']['yr_renovated'].dt.year

print( 'The oldest renovation data of a house is {}.'.format( df.min() ) )

The oldest renovation data of a house is 1934.

## 10. Quantos imóveis tem 2 andares?

In [172]:
# Estrategia:
# 1. Filtrar todoso os imóveis com 2 andares
# 2. Contar o número de linhas

houses = data[data['floors'] == 2].shape[0]

print( 'O número de imóveis com 2 andares é: {}'.format( houses ) )

O número de imóveis com 2 andares é: 8241

## 11. Quantos imóveis estão com a condição igual a “regular” ?

In [173]:
# Estrategia
# 1. Filtrar todos os apartamentos com "condition_type" igual a "regular"
# 2. Contar o número de imóveis sob essa condição

houses = data[data['condition_type'] == 'regular'].shape[0]

print( 'O número de imóveis que estão com a condição igual a "regular" é: {}'.format( houses ) )

O número de imóveis que estão com a condição igual a "regular" é: 19710

## 12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [174]:
# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "bad" e "waterfront" igual a 1
# 2. Contar o número de linhas

houses = data[ (data[ 'condition_type' ] == 'bad') & (data[ 'waterfront' ] == 1) ].shape[0]

print( "O número de imóveis com condição igual a 'bad' e que possuem 'vista para água' é: {}".format( houses ) )

O número de imóveis com condição igual a 'bad' e que possuem 'vista para água' é: 2

## 13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [175]:
# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "good" e "house_age" equals to "new_house"
# 2. Contar o número de linhas
houses = data[(data['condition_type'] == 'good') & (data['house_age'] == "new_house")].shape[0]

# # data[(data[ 'condition_type' ] == 'good') & ( data[ 'house_age' ] == 'new_house' )]

print( "O número de imóveis com condição igual a 'good' e que são 'new_house' é: {}".format( houses ) )

O número de imóveis com condição igual a 'good' e que são 'new_house' é: 1701

## 14. Qual o valor do imóvel mais caro do tipo “studio” ?

In [176]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "studio"
# 2. Encontrar o máximo valor da coluna "price"

max_studio_price = data.loc[ data['dormitory_type'] == 'studio','price'].max()

print( "O imóvel mais caro do tipo 'studio' possui o valor de: ${}".format( max_studio_price ) )

# ou:  data[ data['dormitory_type'] == 'studio' ]['price'].max()

O imóvel mais caro do tipo 'studio' possui o valor de: $1247000.0

## 15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [177]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated      datetime64[ns]
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

In [179]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" equals to "2015-01-01"
# 2. Contar o número de linhas
# houses = data[( data['dormitory_type'] == 'apartament' ) & ( data['yr_renovated'] == '2015-01-01' )].shape[0]

# print( "O número de imóveis do tipo 'apartment' reformados em 2015 é: {}".format( houses ) )
# ERRADO 

data.loc[data['yr_renovated'] == pd.to_datetime( '2015-01-01' ),'id'].shape[0]

16

In [181]:
data.loc[data['yr_renovated'].dt.year == 2015,'id'].size

16

## 16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [182]:
# Estrategia:
# 1. Filtrar as colunas "dormitory type" igual a "house"
# 2. Encontrar o maior valor da coluna bedrooms

# ou b = data[data['dormitory_type'] == 'house']['bedrooms'].max()
houses = data.loc[ data['dormitory_type'] == 'house', 'bedrooms' ].max()

print( "O maior número de quartos que um imóvel do tipo 'house' possui é: {}".format( houses ) )

O maior número de quartos que um imóvel do tipo 'house' possui é: 33

## 17. Quantos imóveis “new_house” foram reformados no ano de 2014?

In [185]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" igual a 2014
# 2. Contar o número de linhas

houses = data[ (data['house_age'] == 'new_house') & (data['yr_renovated'].dt.year == 2014 ) ].shape[0]

print( "O número de imóveis 'new_house' que foram reformados em 2014 é: {}".format( houses ) )

O número de imóveis 'new_house' que foram reformados em 2014 é: 91

## 18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    -- Direto pelo nome das colunas
    -- Pelos índices
    -- Pelos índices das linhas e o nome das colunas
    -- Índices Booleanos

In [186]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'condition_type'],
      dtype='object')

In [187]:
# 1. Direto pelo nome das colunas
data[['id', 'date', 'price', 'floors', 'zipcode']]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

In [188]:
# 2. Pelos índices
data.iloc[:, [0, 1, 2, 7, 16]]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

In [189]:
# 3. Pelos índices das linhas e o nome das colunas
data.loc[:, ['id', 'date', 'price', 'floors', 'zipcode']]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

In [191]:
#4. Índices Booleanos

cols = [True,True,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False]

data.iloc[:,cols]

               id       date     price  floors   yr_built
0      7129300520 2014-10-13 221900.00    1.00 1955-01-01
1      6414100192 2014-12-09 538000.00    2.00 1951-01-01
2      5631500400 2015-02-25 180000.00    1.00 1933-01-01
3      2487200875 2014-12-09 604000.00    1.00 1965-01-01
4      1954400510 2015-02-18 510000.00    1.00 1987-01-01
...           ...        ...       ...     ...        ...
21608   263000018 2014-05-21 360000.00    3.00 2009-01-01
21609  6600060120 2015-02-23 400000.00    2.00 2014-01-01
21610  1523300141 2014-06-23 402101.00    2.00 2009-01-01
21611   291310100 2015-01-16 400000.00    2.00 2004-01-01
21612  1523300157 2014-10-15 325000.00    2.00 2008-01-01

[21613 rows x 5 columns]

## 19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.

In [192]:
data[['house_age', 'dormitory_type', 'condition_type']].to_csv( 'exercicio19.csv' )