# Aula 02- Resolução dos Exercícios

## Novas perguntas do CEO

1. Crie uma nova coluna chamada: “house_age”
    - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

2. Crie uma nova coluna chamada: “dormitory_type”
    - Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    - Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    - Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

3. Crie uma nova coluna chamada: “condition_type”
    - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    - Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    - Se o valor da coluna “condition” for igual à 5 => ‘good’


4. Modifique o TIPO a Coluna “condition” para STRING


5. Delete as colunas: “sqft_living15” e “sqft_lot15”


6. Modifique o TIPO a Coluna “yr_build” para DATE


7. Modifique o TIPO a Coluna “yr_renovated” para DATE


8. Qual a data mais antiga de construção de um imóvel?


9. Qual a data mais antiga de renovação de um imóvel?


10. Quantos imóveis tem 2 andares?


11. Quantos imóveis estão com a condição igual a “regular” ?


12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?


13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?


14. Qual o valor do imóvel mais caro do tipo “studio” ?


15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?


16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?


17. Quantos imóveis “new_house” foram reformados no ano de 2014?


18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    - Direto pelo nome das colunas.
    - Pelos Índices.
    - Pelos Índices das linhas e o nome das colunas
    - Índices Booleanos		
    
    
19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.


20. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

# Resolução

## Import Libraries

In [1]:
import numpy  as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
import plotly.express as px

In [2]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## Loading Data

In [106]:
# loading data into memory
data = pd.read_csv( "datasets/kc_house_data.csv" )

data.dtypes

# Garantir que o formato date é um datetime 
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

## 1. Crie uma nova coluna chamada: “house_age”
    - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [107]:
# Estrategia
# 1. Criar uma coluna nova, preenchida com NA
# 2. Substituir o valor NA, conforme a condicional

data['house_age'] = 'NA'
data.loc[ data['date'] > '2014-01-01', 'house_age' ] = 'new_house' 
data.loc[ data['date'] < '2014-01-01', 'house_age'] = 'old_house'

## 2. Crie uma nova coluna chamada: “dormitory_type”
    - Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    - Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    - Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [109]:
# Estrategia 1:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Atribuir os nomes das strings 'studio', 'apartment' ou 'house' na coluna 'dormitory_type' para os dados filtrados por número de 'bedrooms'

data['dormitory_type'] = 'NA'
data.loc[ data['bedrooms'] == 1, 'dormitory_type' ] = 'studio'
data.loc[ data['bedrooms'] == 2, 'dormitory_type' ] = 'apartment'
data.loc[ data['bedrooms'] > 2, 'dormitory_type' ] = 'house'

data[['bedrooms','dormitory_type']]

       bedrooms dormitory_type
0             3          house
1             3          house
2             2      apartment
3             4          house
4             3          house
...         ...            ...
21608         3          house
21609         4          house
21610         2      apartment
21611         3          house
21612         2      apartment

[21613 rows x 2 columns]

In [66]:
data['dormitory_type'].unique()

array(['house', 'apartment', 'studio', 'NA'], dtype=object)

In [67]:
# Estrategia 2:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Percorrer todas as linhas do conjunto de dados. Para cada linha, comparar a coluna "bedrooms"
# 3. De acordo com a comparação, substituir o NA pelo dado valor

# Usando o loop for

data = pd.read_csv( "datasets/kc_house_data.csv" )

data['dormitory_type'] = 'NA'

# percorrendo todas as linhas do dataset
for i in range( len( data ) ):
    if data.loc[i, 'bedrooms'] == 1:
        data.loc[i, 'dormitory_type'] = 'studio'
    
    elif data.loc[i, 'bedrooms'] == 2:
        data.loc[i, 'dormitory_type'] = 'apartment'
    
    elif data.loc[i, 'bedrooms'] > 2:
         data.loc[i, 'dormitory_type'] = 'house'

In [68]:
data['dormitory_type'].unique()

array(['house', 'apartment', 'studio', 'NA'], dtype=object)

## 3. Crie uma nova coluna chamada: “condition_type”
    - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    - Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    - Se o valor da coluna “condition” for igual à 5 => ‘good’

In [110]:
# Estrategia 1:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Atribuir os nomes das strings 'bad', 'regular' ou 'good' na coluna 'condition_type' para os dados filtrados por 'condition'

data['condition_type'] = 'NA'

data.loc[ data['condition'] <= 2, 'condition_type'] = 'bad'
data.loc[ (data['condition'] == 3) | (data['condition'] == 4), 'condition_type'] = 'regular'
data.loc[ data['condition'] == 5, 'condition_type'] = 'good'

data[['condition','condition_type']]

       condition condition_type
0              3        regular
1              3        regular
2              3        regular
3              5           good
4              3        regular
...          ...            ...
21608          3        regular
21609          3        regular
21610          3        regular
21611          3        regular
21612          3        regular

[21613 rows x 2 columns]

In [70]:
# Estrategia 2:
# 1. Usar a função apply junto com a lambda para ter acesso a cada linha.
# 2. Em cada linha, comparar a coluna "condition" com a condição dada.
# 3. Aplicar a condição

# data['condition'] = data['condition'].astype( int )
# data['condition_type'] = data['condition'].apply( lambda x: 'bad' if x <= 2 else 'regular' if (x == 3) | (x == 4) else 'good' )

## 4. Modifique o TIPO da Coluna “condition” para STRING

In [71]:
data[['id', 'condition']].dtypes

id           int64
condition    int32
dtype: object

In [72]:
data['condition'] = data['condition'].astype( str )

In [73]:
data[['id', 'condition']].dtypes

id            int64
condition    object
dtype: object

## 5. Delete as colunas: “sqft_living15” e “sqft_lot15”

In [74]:
# deletar as colunas
data = data.drop( ['sqft_living15', 'sqft_lot15'], axis=1 )

## 6. Modifique o TIPO da Coluna “yr_build” para DATE

In [90]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )

## 7. Modifique o TIPO a Coluna “yr_renovated” para DATE

In [96]:
# data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime( x, format='%Y') if x > 0 else x )

# pd.to_datetime( data['yr_renovated'], format='%Y')

data['yr_renovated'] = data['yr_renovated'].strftime('%m/%d/%Y, %H:%M:%S')

AttributeError: 'Series' object has no attribute 'strftime'

## 8. Qual a data mais antiga de construção de um imóvel?

In [97]:
# Estratégia:
# 1. Verificar o valor mínimo da coluna 'yr_built'

min_date = data['yr_built'].min().year

print( 'A data mais antiga de construção de um ímóvel é {}'.format( min_date ) )

A data mais antiga de construção de um ímóvel é 1900

## 9. Qual a data mais antiga de renovação de um imóvel?

In [61]:
# Estrategia
# 1. Filtrar todas as linhas diferentes de zero ( imóveis que nao foram reformados ) da coluna 'yr_renovated'
# 2. Encontrar a data mínima

# Obs: 'yr_renovated' esta como object, tem que transforma em datetime para trabalhar com data


# df = data[data['yr_renovated'] > 0]['yr_renovated']
# print( 'The oldest renovated house is {} years old'.format( df.min() ) )

# data.loc[ data['yr_renovated'] > 0,'yr_renovated' ]

data.dtypes

id                           int64
date                        object
price                      float64
bedrooms                     int64
bathrooms                  float64
sqft_living                  int64
sqft_lot                     int64
floors                     float64
waterfront                   int64
view                         int64
condition                   object
grade                        int64
sqft_above                   int64
sqft_basement                int64
yr_built            datetime64[ns]
yr_renovated                object
zipcode                      int64
lat                        float64
long                       float64
dormitory_type              object
condition_type              object
conditional_type            object
dtype: object

## 10. Quantos imóveis tem 2 andares?

In [98]:
# Estrategia:
# 1. Filtrar todoso os imóveis com 2 andares
# 2. Contar o número de linhas

houses = data[data['floors'] == 2].shape[0]

print( 'O número de imóveis com 2 andares é: {}'.format( houses ) )

O número de imóveis com 2 andares é: 8241

## 11. Quantos imóveis estão com a condição igual a “regular” ?

In [112]:
# Estrategia
# 1. Filtrar todos os apartamentos com "condition_type" igual a "regular"
# 2. Contar o número de imóveis sob essa condição

houses = data[data['condition_type'] == 'regular'].shape[0]

print( 'O número de imóveis que estão com a condição igual a "regular" é: {}'.format( houses ) )

O número de imóveis que estão com a condição igual a "regular" é: 19710

## 12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [113]:
# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "bad" e "waterfront" igual a 1
# 2. Contar o número de linhas

houses = data[ (data[ 'condition_type' ] == 'bad') & (data[ 'waterfront' ] == 1) ].shape[0]

print( "O número de imóveis com condição igual a 'bad' e que possuem 'vista para água' é: {}".format( houses ) )

O número de imóveis com condição igual a 'bad' e que possuem 'vista para água' é: 2

## 13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [114]:
# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "good" e "house_age" equals to "new_house"
# 2. Contar o número de linhas
houses = data[(data['condition_type'] == 'good') & (data['house_age'] == "new_house")].shape[0]


# # data[(data[ 'condition_type' ] == 'good') & ( data[ 'house_age' ] == 'new_house' )]

print( "O número de imóveis com condição igual a 'good' e que são 'new_house' é: {}".format( houses ) )

O número de imóveis com condição igual a 'good' e que são 'new_house' é: 1701

## 14. Qual o valor do imóvel mais caro do tipo “studio” ?

In [117]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "studio"
# 2. Encontrar o máximo valor da coluna "price"

max_studio_price = data.loc[ data['dormitory_type'] == 'studio','price'].max()

print( "O imóvel mais caro do tipo 'studio' possui o valor de: ${}".format( max_studio_price ) )

# ou:  data[ data['dormitory_type'] == 'studio' ]['price'].max()

O imóvel mais caro do tipo 'studio' possui o valor de: $1247000.0

## 15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [119]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" equals to "2015-01-01"
# 2. Contar o número de linhas
houses = data[( data['dormitory_type'] == 'apartament' ) & ( data['yr_renovated'] == 2015 )].shape[0]

print( "O número de imóveis do tipo 'apartment' reformados em 2015 é: {}".format( houses ) )

O número de imóveis do tipo 'apartment' reformados em 2015 é: 0

## 16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [120]:
# Estrategia:
# 1. Filtrar as colunas "dormitory type" igual a "house"
# 2. Encontrar o maior valor da coluna bedrooms

# ou b = data[data['dormitory_type'] == 'house']['bedrooms'].max()
houses = data.loc[ data['dormitory_type'] == 'house', 'bedrooms' ].max()

print( "O maior número de quartos que um imóvel do tipo 'house' possui é: {}".format( houses ) )

O maior número de quartos que um imóvel do tipo 'house' possui é: 33

## 17. Quantos imóveis “new_house” foram reformados no ano de 2014?

In [121]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" igual a 2014
# 2. Contar o número de linhas

houses = data[ (data['house_age'] == 'new_house') & (data['yr_renovated'] == 2014 ) ].shape[0]

print( "O número de imóveis 'new_house' que foram reformados em 2014 é: {}".format( houses ) )

O número de imóveis 'new_house' que foram reformados em 2014 é: 91

## 18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    -- Direto pelo nome das colunas
    -- Pelos índices
    -- Pelos índices das linhas e o nome das colunas
    -- Índices Booleanos

In [122]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'house_age',
       'dormitory_type', 'condition_type'],
      dtype='object')

In [123]:
# 1. Direto pelo nome das colunas
data[['id', 'date', 'price', 'floors', 'zipcode']]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

In [124]:
# 2. Pelos índices
data.iloc[:, [0, 1, 2, 7, 16]]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

In [125]:
# 3. Pelos índices das linhas e o nome das colunas
data.loc[:, ['id', 'date', 'price', 'floors', 'zipcode']]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

In [134]:
#4. Índices Booleanos

cols = [True,True,True,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False]

data.iloc[:,cols]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13 221900.00    1.00    98178
1      6414100192 2014-12-09 538000.00    2.00    98125
2      5631500400 2015-02-25 180000.00    1.00    98028
3      2487200875 2014-12-09 604000.00    1.00    98136
4      1954400510 2015-02-18 510000.00    1.00    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21 360000.00    3.00    98103
21609  6600060120 2015-02-23 400000.00    2.00    98146
21610  1523300141 2014-06-23 402101.00    2.00    98144
21611   291310100 2015-01-16 400000.00    2.00    98027
21612  1523300157 2014-10-15 325000.00    2.00    98144

[21613 rows x 5 columns]

## 19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.

In [127]:
data[['house_age', 'dormitory_type', 'condition_type']].to_csv( 'exercicio19.csv' )